<!-- views/partials/header.ejs-->

 <h1 class="logo"><a href="index.html" title="&lt; Magazine /&gt;">&lt; Magazine /&gt;</a></h1>
   <ul class="topNav">
	    <li><a href="/">/HOME</a></li>
		<li><a href="/newmessage">/NEWMESSAGE</a></li>
		<li><a href="/guestbook">/GUESTBOOK</a></li>
		<li><a href="/ajaxmessage">/AJAXMESSAGE</a></li>
	  </ul><br class="clear" />